* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.container {
  margin: 10px auto;
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 120px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image {
  width: 120px;
  height: 120px;
}

.todo--input--area {
  margin: 40px auto;
}

.textinput {
  width: 40vw;
  height: 4vh;
  padding: 10px;
  margin: 0 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.textinput:active,
.textinput:focus {
  border: 2px solid rgba(10, 16, 109, 0.267);
  outline: none;
}

.textinput:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.add--btn {
  background-color: white;
  border: none;
  width: 7vw;
  height: 4vh;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.add--btn:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.filters {
  border: none;
  padding: 10px;
  display: flex;
  height: 7vh;
  width: 60vw;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.btn {
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: none;
  margin-left: 2em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}

i.fa {
  font-size: 44px;
}

#del {
  color: #ff0000;
  text-shadow: 0 0 8px #ff000041;
}
#edt {
  color: #252a6b;
  text-shadow: 0 0 8px #2d338528;
}

.btn.delete--btn {
  box-shadow: 0 15px 15px -10px rgba(255, 0, 0, 0.247);
}
.btn.edit--btn {
  box-shadow: 0 15px 15px -10px rgba(0, 4, 255, 0.253);
}
.btn.delete--btn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 12px -9px rgba(255, 0, 0, 0.65);
}
.btn.edit--btn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 12px -9px rgba(0, 17, 255, 0.65);
}

.e--btn {
  width: 50px;
  height: 25px;
  background-color: #fafafa;
  border: none;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 3px;
}

#sav {
  color: #2ea52a;
  text-shadow: 0 0 30px #87ec84;
}
#can {
  color: #646464;
  text-shadow: 0 0 30px #909092;
}
.e--btn.save--btn {
  box-shadow: 0 10px 10px -11px rgba(0, 250, 33, 0.53);
}
.e--btn.cancel--btn {
  box-shadow: 0 10px 10px -11px rgba(110, 110, 110, 0.53);
}

.e--btn.save--btn:hover {
  border: 1px solid #2ea52a42;
  transform: scale(1.2);
  box-shadow: 0 15px 10px -10px rgba(9, 255, 0, 0.65);
  transition: all ease-in 1.5;
}
.e--btn.cancel--btn:hover {
  border: 1px solid #57575742;
  transform: scale(1.2);
  transform: scale(1.2);
  box-shadow: 0 15px 10px -10px rgba(85, 85, 85, 0.65);
}

.todo--item {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 0.5px solid rgb(219, 215, 215);
}

.editable--text {
  display: flex;
  width: 55vw;
  align-items: center;
  justify-content: space-between;
}

.todo--list {
  margin: 20px;
}

.date--btn {
  background-color: white;
  border: none;
  color: gray;
  padding: 3px;
  margin: 0 20px;
}

.sort--btns {
  padding: 4px;
}

.clear--btn {
  font-size: 15px;
  background-color: white;
  border: none;
  color: rgb(77, 71, 71);
  padding: 3px;
  margin: 0 20px;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.clear--btn:hover {
  box-shadow: 0 7px 10px -6px rgba(0, 0, 0, 0.2);
}

.editable--input {
  width: 20vw;
  height: 3vh;
  padding: 10px;
  margin: 0 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(12, 117, 17, 0.76);
}
.editable--input:active,
.editable--input:focus {
  border: 2px solid rgba(10, 87, 22, 0.452);
  outline: none;
}

.btn--active {
  font-weight: 600;
}

.sort--date {
  border: 1px solid rgba(128, 128, 128, 0.363);
  border-radius: 6px;
  padding: 4px;
  color: gray;
}
.sort--date:active,
.sort--date:focus {
  border: 1px solid rgb(141, 141, 141);
  outline: none;
}
